body{
	  background-color: hwb(0 94% 6%);
  font-family: Arial, sans-serif;
  margin: 0;
padding: 0;
overflow-x: hidden;
}
.bts1 button{
	padding: 10px 15px;
	margin-left: 15px;
	border: 1px solid hsla(0, 0%, 0%, 0.186);
   font-weight: 20px;
}
/* products */
.product1 h5{
	color:hwb(0 0% 100% / 0.936);
	margin: 0;
	padding: 0;

}
/* .cards{
	  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
} */
 
.login label{
	font-size: 20px;
	text-align: left;
}
 .login input{
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.281);
	padding: 10px 15px;
	margin-top: 5px;
	width: 25%;
 }

 .login textarea{
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.281);
	padding: 10px 15px;
	margin-top: 5px;
	width: 25%;
 }
 .login button{
	background-color: rgba(0, 0, 0, 0.682);
	color: white;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
 }